## Import packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

## Data preprocessing

In [2]:
df = pd.read_csv('endoderm.csv', index_col= 0)
df.isnull().values.any()

False

In [3]:
df = df.T

In [4]:
df.head(3)

,MKL2,CD109,ABTB1,MAST2,KAT5,WWC2,CD163,MYL2,UBE2Z,RGPD4,...,SNRNP48,ARMC3,DUSP28,INO80,NUP205,WDR33,EPSTI1,CLPTM1L,CCDC125,CATSPER3
H1_Exp1.001,10,6,0,0,0,84,0,0,18,0,...,84,0,0,0,239,101,0,22,32,0
H1_Exp1.002,162,2,28,133,7,5,0,0,146,4,...,40,0,0,187,231,201,0,84,52,0
H1_Exp1.003,3,166,0,41,52,305,0,0,106,0,...,21,0,0,6,169,23,0,19,110,0

In [5]:
# only select subset
df = df.iloc[:50, :50]

## Baseline - Naive iterative imputation
In this part, we will treat all 0 entry as missing value and impute them.

In [6]:
dt = df.values

In [7]:
# train test split
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(dt, test_size=0.2, random_state=42)

In [9]:
# initialization strategy: mean
%time
imp_mean = IterativeImputer(random_state=0, missing_values = 0)
imp_mean.fit(X_train)
transformed = imp_mean.transform(X_test)

CPU times: user 4 µs, sys: 4 µs, total: 8 µs
Wall time: 13.8 µs

In [15]:
print(X_test[0,:])

[162 151   0 122   0 363   0   0   1   2   0   0  13  15 104   0   0   0
 522   0   0 295   4  13   0  30   0   5  50  49  10   0   1   0  17  68
   0  21  26   0 533  30   0  84   0  46   0   8   0   0]

In [16]:
print(transformed[0,:])

[162.         151.          17.98807782 122.          36.90442513
 363.           1.           2.           1.          13.
  15.         104.           7.56128611 522.          65.
 295.           4.          13.          30.           5.
  50.          49.          10.         -10.45094131   1.
  17.          68.          21.          26.         101.28038846
 533.          30.          84.           8.93023603  46.
   8.          -2.34086417  43.85516116]

In [17]:
## we can observe negative value, transfer negative value to 0
transformed[transformed < 0] = 0

In [18]:
print(transformed[0,:])

[162.         151.          17.98807782 122.          36.90442513
 363.           1.           2.           1.          13.
  15.         104.           7.56128611 522.          65.
 295.           4.          13.          30.           5.
  50.          49.          10.           0.           1.
  17.          68.          21.          26.         101.28038846
 533.          30.          84.           8.93023603  46.
   8.           0.          43.85516116]

In [19]:
np.count_nonzero(transformed)

362

In [20]:
np.count_nonzero(X_test)

259